#botonesAqui{
 background-color: #72b2e0;

}
.botonS{
margin-left: 10px;
margin-top: 10px;

}

.nuevoAnimal{
    margin-top: 20px;
    margin-bottom: 20px;
    }


.heading{
    padding-top: 20px;
    background-color: black;
    border-bottom-style: solid;
    border-width: 10px;
    border-color: gray;
    }

.gif-display{

    align-items: bottom;
    text-align: center;
    color:white;
    }
img{
    width: 100%;
}
.gifs-aqui{

   
}

.division{
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

body{
    background: black;
}

.titulo{

    text-align: center;
    color:white;
    font-size: 40px;
    }